*{
    box-sizing: border-box;
}
option{
    padding: 5px;
}
button{
    margin-top: 10px;
}
fieldset{
    border:2px solid rgba(44, 143, 122, 0.8);
    width: 50%;
    margin-bottom: 10px;
}

#material{
    width: 330px;
    float: left;
color: red;
}
#pyramid{
     width: 350px;
     height: 550px;
     float: right;
     margin-right: calc(50% - (350px/2));
 }