div div{
    width: 40px;
    height: 40px;
    background: crimson;
    float: left;
    margin-right: 5px;
}
#circle:hover, #square:hover, polygon:hover{
    cursor: pointer;
}
#circle{
    border-radius: 50%;
}
polygon{
    fill: crimson;
}
svg{
    width: 150px;
}
#parent{
    float: left;
}
#canvas{
    width: 400px;
    height: 400px;
    border: 2px solid crimson;
    float: left;
}
.active{
    background: rgba(220, 20, 60, 0.58);!important;
    fill: rgba(220, 20, 60, 0.58);
}